@model IEnumerable<RawMaterialModel>

@{
    ViewData["Title"] = "Operational Manager - Home";
    Layout = "~/Views/Shared/_LayoutManagerDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Raw Materials</h4>
                <p class="card-category">@ViewData["MatCount"] - Material(s) need attention</p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped" style="margin-left: 15px; margin-right: 20px;">
                    <thead>
                    <tr>
                        <th>
                            Material ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            QTY
                        </th>
                        <th>
                            ROL
                        </th>
                        <th>
                            Requested QTY
                        </th>
                        <th>
                            Last Requested Date
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var clr = "";
                        var aboutToReorder = false;
                        var needToReorder = false;
                    }

                    @foreach (var item in Model)
                    {
                        @if (item.QTY < item.ROL)
                        {
                            clr = "red";
                            needToReorder = true;
                        }
                        else if (item.QTY * 100 / item.ROL - 100 < 5)
                        {
                            clr = "darkorange";
                            aboutToReorder = true;
                        }
                        else
                        {
                            clr = "";
                        }
                        <tr style="color: @clr">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.QTY
                            </td>
                            <td>
                                @item.ROL
                            </td>
                            <td>
                                @item.Request
                            </td>
                            <td>
                                @item.ReqDate

                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
                @{
                    if (aboutToReorder)
                    {
                        <h5 style="color: darkorange; margin-left: 20px">* About to reorder</h5>
                    }

                    if (needToReorder)
                    {
                        <h5 style="color: red; margin-left: 20px">* Need to reorder</h5>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Material Consumption Analysis</h4>
            </div>
            <div class="card-body">
                <div id="chartContainerConsumption" style="height: 450px; margin: 0px auto 0px 100px; width: 900px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Dashboards/assets/js/canvasjs.min.js"></script>
<script type="text/javascript">
    window.onload = function() {
        if (@ViewBag.temp < 30 || @ViewBag.temp > 35) {
            var o = "o";
            demo.showNotification("Warning! Water temperature is not within acceptable parameters : @ViewBag.temp\C" + o.sup(), "4");
        }

        var chart = new CanvasJS.Chart("chartContainerConsumption",
            {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: ""
                },
                data: [
                    {
                        type: "pie",
                        startAngle: 25,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}%",
                        dataPoints: [
                            { y: @ViewBag.Prod, label: "Production" },
                            { y: @ViewBag.Wast, label: "Wastage" }
                        ]
                    }
                ]
            });

        chart.render();
    }
</script>