@model IEnumerable<SRIMAK.Models.RawMaterialModel>

@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_LayoutClerkDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="row">
                    <h4 class="card-title" style="margin-left: 20px;">Raw Materials</h4>
                </div>


            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped" style="margin-left: 15px; margin-right: 20px;">
                    <thead>
                        <tr>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard" , new {sortPram = "rm_id" , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.Id)</a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "name" , typePram = @ViewData["sortType"]})"> @Html.DisplayNameFor(model => model.Name) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "rm_size" , typePram = @ViewData["sortType"]})"> @Html.DisplayNameFor(model => model.Size) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "qty" , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.QTY) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "rol" , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.ROL) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "buffer_stock" , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.Buffer) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "max_consumption" , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.Consumption) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "stock_level " , typePram = @ViewData["sortType"]})">@Html.DisplayNameFor(model => model.Stock) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "request" , typePram = @ViewData["sortType"]})"> @Html.DisplayNameFor(model => model.Request) </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Materials","ManagerDashboard", new {sortPram = "req_date" , typePram = @ViewData["sortType"]})"> @Html.DisplayNameFor(model => model.ReqDate) </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QTY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ROL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Buffer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consumption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Request)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReqDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
