@model IEnumerable<SalesOrderModel>

@{
    ViewData["Title"] = "ViewSalesOrder";
    Layout = "~/Views/Shared/_LayoutClerkDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="row">
                    <h4 class="card-title" style="margin-left: 20px;">Sales Order - Details</h4>
                </div>


            </div>
            <div class="card-body table-full-width table-responsive">
                <form asp-action="ViewSalesOrderDetailsResult">
                    <table class="table table-hover table-striped" style="margin-left: 15px; margin-right: 20px;">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.proID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QTY)
                            </th>
                            @if (ViewBag.status == 1 || ViewBag.newQTY == 1)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.newQTY)
                                </th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.proID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prod)
                                </td>
                                <td>
                                    Rs. @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QTY)
                                </td>
                                @if (ViewBag.status == 1)
                                {
                                    <td>
                                        <input type="number" value="@item.newQTY" name="@item.proID" id="@item.proID" class="form-control" onkeyup="qtyValidate(@item.proID)" onchange="qtyValidate(@item.proID)" />
                                    </td>
                                }
                                else if (ViewBag.newQTY == 1)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.newQTY)
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                    @if (ViewBag.status == 1)
                    {
                        <div class="col-md-1 offset-11" >
                            <input type="submit" value="Accept" class="btn btn-primary" />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="row">
                    <h4 class="card-title" style="margin-left: 20px;">Sales Order - Distributor</h4>
                </div>
            </div>
            <div class="card-body ">
                @if (ViewBag.status ==2)
                {
                    <form asp-action="ViewSalesOrderDistributorResult">
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label class="control-label">Distributor</label>
                                <select name="disID" id="disID" class="form-control">
                                    @foreach (var item in ViewBag.disList)
                                    {
                                        <option value="@item.dis_id">@item.dis_id - @item.Name - @item.vehi_type</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 offset-10" >
                            <input type="submit" value="Assign" class="btn btn-primary" />
                        </div>
                    </form>
                }else if (ViewBag.status == 3 || ViewBag.status == 4)
                {
                    <div class="col-md-10 offset-4">
                        <dl class="row">
                            <dt class="col-sm-2">
                                ID
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.dis_id
                            </dd>
                            <dt class="col-sm-2">
                                Name
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.Name
                            </dd>
                            <dt class="col-sm-2">
                                E-Mail
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.Email
                            </dd>
                            <dt class="col-sm-2">
                                Contact
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.Contact
                            </dd>
                            <dt class="col-sm-2">
                                Vehicle No
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.vehi_no
                            </dd>
                            <dt class="col-sm-2">
                                Vehicle Type
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.vehi_type
                            </dd>
                            <dt class="col-sm-2">
                                Rout
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.Rout
                            </dd>
                            <dt class="col-sm-2">
                                Town
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.disList.Town
                            </dd>
                        </dl>
                    </div>
                }
                else
                {
                    <div class="col-md-6 offset-3">
                        <h4>Please accept the order to assign a distributor</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function qtyValidate(id) {
        if (parseInt(document.getElementById(id).value) < 0) {
            document.getElementById(id).value = 0;
        }
    }
</script>